@using Event_Management_system.Models

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <form asp-action="Create">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hotel Information</h5>

                    <div class="row mt-3">
                        <div class="col-sm-3">
                            <label for="exampleFormControlInput1">Investor</label>
                            <select id="searchname" name="searchname" class="form-control" asp-items="ViewBag.Investor_Id"></select>

                        </div>

                        <div class="col-sm-3">
                            <label for="exampleFormControlInput1">Sector</label>
                            <select id="searchsector" name="searchsector" class="form-control" asp-items="ViewBag.Sector_Id"></select>

                        </div>
                        <div class="col-sm-3">
                            <label for="exampleFormControlInput1">From Date</label>
                            <input type="datetime-local" class="form-control" data-live-search="true" id="start" name="start" placeholder="From Date">

                        </div>
                        <div class="col-sm">
                            <label for="exampleFormControlInput1">End Date</label>
                            <input type="datetime-local" class="form-control" data-live-search="true" id="end" name="end" placeholder="To Date">

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-10">
                            <input type="submit" value="Search" class="btn btn-outline-primary" />
                        </div>

                    </div>

                    <div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        All Available Presenters
                    </h5>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Presenter No</th>
                                <th scope="col">Presenter</th>
                                <th scope="col">Sector</th>
                                <th scope="col">From Date</th>
                                <th scope="col">To Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Sector_Presenter item in Model)
                            {
                                //     <tr onclick="location.href = '@(Url.Action("GetMatch", "Bookings", new { @searchpre =  @item.Sector_Presenter_Id }))'">
                                <tr>
                                    <td>
                                        #
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sector_Presenter_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Presenter.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sector.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDate)

                                    </td>
                                    <td>
                                       <a asp-action="GetMatch"  asp-controller="Bookings" class="btn btn-outline-success" asp-route-searchpre="@item.Sector_Presenter_Id">Available Rooms</a>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>


    </section>

</main><!-- End #main -->
